.portfolio {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    margin-top: 101px;
    padding: 0 70px 0 70px;
    color: white;
}

.portfolio__header {
    margin: 0;
    color: #8b8b8b;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.portfolio__container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    row-gap: 20px;
}

.portfolio__link {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    width: 100%;
}

.portfolio__link:hover {
    opacity: 0.8;
}

.portfolio__arrow {
    background-image: url("../../images/arrow_link.svg");
    width: 29px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio__arrow:hover {
    opacity: 0.8;
}

.portfolio__link:last-child {
    border-bottom: none;
}

.portfolio__links {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 1px solid #424242;
}

.portfolio__links:last-child {
    border-bottom: none;
}

@media (max-width: 800px) {
    .portfolio {
        margin-top: 91px;
        padding: 0 50px 0 50px;
    }

    .portfolio__link {
        font-size: 28px;
    }

    .portfolio__container {
        margin-bottom: 90px;
    }
}

@media (max-width: 350px) {
    .portfolio {
        margin-top: 70px;
        padding: 0 14px 0 14px;
    }

    .portfolio__header {
        font-size: 14px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 19px;
    }

    .portfolio__container {
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .portfolio__arrow {
        width: 18px;
        height: 28px;
    }
}
