.techs {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 70px 0 70px;
    background-color: #272727;
    width: 100%;
}

.techs__header {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: white;
    border-bottom: 1px solid #dadada;
    padding-bottom: 23px;
    padding-top: 100px;
    margin: 0;
}

.techs__title {
    color: white;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 26px;
}

.techs__subtitle {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    max-width: 460px;
    align-self: center;
}

.techs__container {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
}

.techs__li {
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 21px 0 22px;
    width: 90px;
    color: white;
    border-radius: 10px;
    background: #303030;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}

@media (max-width: 800px) {
    .techs {
        padding: 0 50px 0 50px;
    }

    .techs__header {
        padding-top: 90px;
    }

    .techs__title {
        margin-top: 80px;
        margin-bottom: 22px;
    }

    .techs__subtitle {
        font-size: 12px;
        line-height: 18px;
    }

    .techs__container {
        margin: 0;
        padding: 0 10px 0 10px;
        display: flex;
        gap: 10px;
        justify-content: center;
        list-style: none;
    }

    .techs__li {
        margin-bottom: 90px;
        margin-top: 83px;
    }
}

@media (max-width: 700px) {
    .techs__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        align-self: center;
        margin: 50px;
    }

    .techs__li {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
    }
}

@media (max-width: 350px) {
    .techs {
        padding: 0 18px 0 18px;
        max-height: 567px;
        background-color: #202020;
    }

    .techs__header {
        padding-top: 70px;
        font-size: 18px;
        line-height: 21.78px;
    }

    .techs__title {
        font-size: 30px;
        line-height: 36.31px;
        margin-top: 60px;
        margin-bottom: 24px;
    }

    .techs__subtitle {
        font-size: 11px;
        line-height: 16px;
    }
}
