.about-me {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 70px 0 70px;
    margin: 0;
    margin-top: 110px;
    width: 100%;
    color: white;
}

.about-me__header {
    font-size: 22px;
    font-weight: 400;
    line-height: 26.63px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 23px;
    margin: 0;
}

.about-me__content {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.about-me__title {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
}

.about-me__subtitle {
    margin: 0;
    margin-top: 18px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.about-me__description {
    margin: 0;
    margin-top: 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    max-width: 600px;
}

.about-me__github {
    display: flex;
    margin-top: 99px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.about-me__github:hover {
    opacity: 0.8;
}

.about-me__avatar {
    width: 270px;
    height: 327px;
    border-radius: 13px;
}

@media (max-width: 800px) {
    .about-me {
        padding: 0 50px 0 50px;
    }

    .about-me__title {
        margin: 0;
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
    }

    .about-me__subtitle {
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__description {
        margin-top: 20px;
        font-size: 12px;
        line-height: 18px;
        max-width: 364px;
    }

    .about-me__avatar {
        width: 255px;
        height: 307px;
        border-radius: 13px;
    }

    .about-me__content {
        column-gap: 49px;
    }

    .about-me__github {
        margin-top: 87px;
    }
}

@media (max-width: 540px) {
    .about-me__content {
        flex-direction: column;
    }

    .about-me__info {
        order: 1;
    }

    .about-me__title {
        font-size: 30px;
        line-height: 36.31px;
        margin-top: 40px;
    }
}

@media (max-width: 350px) {
    .about-me {
        padding: 0 14px 0 14px;
    }

    .about-me__header {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        padding-bottom: 28px;
    }

    .about-me__subtitle {
        margin-top: 20px;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__description {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__avatar {
        width: 292px;
        height: 352px;
        align-self: center;
    }

    .about-me__github {
        margin-top: 40px;
    }
}
